@model Domain.Entities.An


@{
    ViewBag.Title = "Редактирование объявлений";
    Layout = "~/Views/Shared/_CRUDLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование объявления "@Model.Name"</h3>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                List<string> field = new List<string>
                {
                    "AccountID","Account","Category","Liked","Photo","ID","DateStart","DateFinish","CategoryID"
                };
                if (!field.Contains(property.PropertyName))
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description")
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                    </div>
                }
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

