@model Domain.Entities.An
<div class="well">
    <div class="row">
        <div class="col-xs-10">
            <h3>
                <strong>@Model.Name </strong >
            </h3>
        </div>
        <div class="col-xs-2">
            <h3>
                <strong class="pull-right label label-primary">
                    @Model.Price.ToString() руб
                </strong>
            </h3>
        </div>
    </div>
    <span class="lead">
        @Model.Description
    </span>
    <div class="row">
        <div class="col-xs-10">
            <h3>
                Имя: @Model.Account.Name
            </h3>
            <h3>
                Почтовый адрес:  @Model.Account.E_mail
            </h3>
            <h3>
                Город:  @Model.Account.City
            </h3>
        </div>
    </div>
</div>
